<%= form_for :session, url: shop_owner_login_url, html: { class: "col s12 white", id: "shop-signup-form"} do |f| %> 
  <% if flash["errors"] %>
    <%= javascript_tag do %>
      Materialize.toast("<%= flash["errors"] %>")
    <% end %>
  <% end %>
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= f.text_field :email, { class: "validate" } %>
      <%= f.label :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= f.password_field :password, { class: "validate"} %>
      <%= f.label :password %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 center-align">
      <button id="submit" type="submit" name="submit" class="waves-effect waves-light btn-flat bg-accent black-text">Sign In</button>
    </div>
  </div>
<% end %>
