<%= render "header" %>
<div class="signin-box">
  <div class="container">
    <div class="center">
      <h5>Sign In</h5>
      <% unless flash['notice'].blank?  %>
        <div class= "pword-message">  <%= flash['notice'] %> </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col m8 s12">
        <div class="signin-user-form" id="signin-user-form">
          <%= form_tag %>
            <% unless flash['errors'].blank? %>
              <div class="error-messages">
                <ul>
                  <% flash['errors'].each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= form_for :session, url: shop_login_create_path do |f| %>
              <div class="">
                <%= f.label :email, "Email" %>
                <span class="field-error" id="email-error"></span>
                <%= f.email_field :email, required: "required", minlength: 5 %>
              </div>

              <div class="">
                <%= f.label :password, "Password" %>
                <span class="field-error" id="password-error"></span>
                <%= f.password_field :password, required: "required", class: "pword" %>
              </div>

              <div class="submit-div center">
            <%= f.submit "Sign In", class: "btn signin", id: "submit-signin", disabled: "disabled"%> 
              </div>
            <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
