<%= form_for @shop, url: { action: :update }, html: { class: "col s8 offset-s2", id: "shop-edit-form" } do |f| %>
<% if @shop.errors.any? %>
<script>
var msg = $("<ol><%= shop_form_errors(@shop.errors.full_messages).html_safe %></ol>");
Materialize.toast(msg)
</script>
<% end %>
<div class="row">
<div class="input-field col s10 offset-s1">
  <%= f.text_field :name,{ class: "validate", required: true } %>
  <%= f.label :name %>
</div>
</div>
<div class="row">
<div class="col s10 offset-s1">
  <div class="input-field col s5">
    <input id="shop-url-prefix" name="shop-url-prefix" value="www.getmyshop.com/" type="text" class="valdate" disabled>
  </div>
  <div class="input-field col s7" id="shop-url-wrapper">
    <%= f.text_field :url, { class: "validate" } %>
    <%= f.label :url %>
  </div>
</div>
</div>
<div class="row">
<div class="input-field col s10 offset-s1">
  <%= f.text_area :description, { class: "materialize-textarea" } %>
  <%= f.label :description %>
</div>
</div>
<div class="row">
<div class="input-field col s10 offset-s1">
  <%= f.text_field :address, { class: "validate" } %>
  <%= f.label :address %>
</div>
</div>
<div class="row">
<div class="col s10 offset-s1">
  <div class="input-field col s6">
    <%= f.text_field :city, { class: "validate"} %>
    <%= f.label :city %>
  </div>
  <div class="input-field col s6">
    <%= f.text_field :state, { class: "validate" } %>
    <%= f.label :state %>
  </div>
</div>
</div>
<div class="row">
<div class="col s10 offset-s1">
  <div class="input-field col s6">
    <%= f.text_field :country, { class: "validate" } %>
    <%= f.label :country %>
  </div>
  <div class="input-field col s6">
    <%= f.text_field :phone, { class: "validate" } %>
    <%= f.label :phone %>
  </div>
</div>
</div>
<div class="row">
<div class="input-field col s12 center-align">
  <button id="submit" type="submit" name="submit" class="waves-effect waves-light btn-flat bg-accent">Update</button>
</div>
</div>
<% end %>