<div class="col s4 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag product.image.preview.url, class: "activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= product.name %><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= product.name %><i class="material-icons right">close</i></span>
      <p><%= product.description %></p>
      <%= link_to "Edit", edit_shop_product_path(product) %>
    </div>
  </div>    
</div>
