<%= render partial: 'header' %>


<div class="shift-down">
  <div class= "row-break"></div>

  <div class="container-large">
    <div class="row nav-like-height valign-wrapper">
      <span>&nbsp;&nbsp;</span>
      <!-- Search result to be replaced with result category -->
      <h5 class="left">Search results for: <%= @search_term  %></h5>
      <h5 class="col l3">&nbsp;</h5>
      <div class="right">
        <%= link_to "Home", root_path %>
        <span>&nbsp;»&nbsp;</span>
        <%= @search_term  %>
        <span>&nbsp;&nbsp;</span>
        <span class="bold">(<%= @products.length %> results)</span>
        <span>&nbsp;&nbsp;</span>
      </div>
    </div>

    <%= render partial: 'application/filter_widget' %>
    <div class="row">
      <%= show_no_result %>
    </div>
    <div class= "row category-products" id="filterrific_results">
      <%= render partial: "landing/product", collection: @products %>
    </div>

  </div>
</div>
<div class= "row-break"></div>
<%= render partial: 'footer' %>
