<div class="top-contain">
	<div id="top-fixed">
		<div class="top-bar valign-wrapper">
			<div class="container-trim">
				<div class="left">
					<span class="white-text small-text">FAST &amp; FREE SHIPPING ON ALL ORDERS - CALL US : 08020000000</span>
				</div>
				<div class="right">
					<%= link_to "About us", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Blog", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Contact Us", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "FAQ", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "My Wishlist", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Currency - NGN", "#", class: 'white-text small-text' %>
					
				</div>
		
			</div>
		</div>
		<ul class="dropdown-content" id="cat-dropdown">
			<li>Fashion</li>
			<li>Electronics</li>
			<li>Home and Kitchen</li>
			<li>Baby, Kids and Toys</li>
		</ul>

		<nav class="white valign-wrapper">
			<div class="container-trim">
				<div class="left">
					<a class="brand-logo black-text" href="#">
					<div class="left">
						<span>Shopify</span>
					</div>
				</a>
				</div>
				<div class="right">
					<div class="hide-on-med-and-down">
						<a href="#" class="black-text dropdown-button" data-activates="cat-dropdown">CATEGORIES</a>
						<span class="white-text small-text">&nbsp;|&nbsp;</span>
						<a href="#" class="black-text">CART</a>
						<span class="white-text small-text">&nbsp;|&nbsp;</span>
						<a href="#" class="black-text">SIGN IN</a>
					</div>
				</div>
		
			</div>
		</nav>
	</div>
</div>
