<div class="col s12 m6 l3">
  <%= link_to product_path(product) do %>
    <div class="card">
      <div class="card-image">
        <img src="<%= product.image || 'http://i.imgur.com/QsgYAlQ.png' %>"/>
      </div>
      <div class="card-content center">
        <span class="<%= @shop.color %>-text" style="text-transform: uppercase"><%= product.name %></span><br>
        <span class="price black-text">&#x20A6;<%= product.price %></span>
      </div>
    </div>
  <% end %>
</div>
