<%= render partial: 'new_header' %>     

<% if flash['notice'] %>
  <%= javascript_tag do %>
      Materialize.toast("<%= flash['notice'] %>", 4000)
  <% end %>
<% end %>

<div class="medium">
	<h1>Sell Online With Ease.</h1>
	<p>All you need to sell online, none of the headache.</p>	
  <button class="btn-large"><%= link_to "Get Started", signup_path, class: 'white-text sign-in' %></button>
</div>

<%= render partial: 'footer' %>
