<%= render partial: 'header' %>

<% if flash['notice'] %>
  <%= javascript_tag do %>
    Materialize.toast("<%= flash['notice'] %>", 4000)
  <% end %>
<% end %>
<div class="shift-down">
  <div class="row medium"></div>
  <div class= "row-break"></div>
  <% @categories.each do |category| %>
  <div class= "row container-trim-wide"><h5 class="cat-heading"><%= category.name.upcase %></h5></div>
  <div class="container-large">
    <div class= "row">
      <% products = category.products.order("RANDOM()").limit(4) %>
      <%= render partial: "product", collection: products %>
    </div>
  </div>
  <% end %>
</div>
<div class= "pre-footer valign-wrapper">
  <div class="container-full">
    <div class="section">
  <div class="row">
    <div class="col l4 center">
      <i class="large material-icons">thumb_up</i>
      <h5>Customer is King</h5>
      <p>Years of committed service. We believe in being the best!</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">stars</i>
      <h5>Five-Star Service</h5>
      <p>We promise, We deliver.</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">flash_on</i>
      <h5>Speedy Delivery</h5>
      <p>We don't just deliver. We deliver ASAP</p>
    </div>
    </div>
  </div>
  </div>
</div>
<%= render partial: 'footer' %>
