<%= render partial: 'header' %>
<div class="container">
	<div class="row">
		<div class="parallax-container">
			<div class="parallax">
				<img src="<%= image(nil, '500x500') %>">
			</div>
		</div>
		<div class="col s12 center-align">
			<h2 class="blog-title"><%= sentence(5, true) %></h2>
			<p class="blog-meta">
				<em><span>on <b><%= date("backward", 200) %></b></span></em>  |
				<em><span>by <b><%= name "fullname" %></b></span></em>
			</p>
			<div class="divider"></div>
		</div>
		<div class="col s12">
			<p class="blog-text">
				<%= paragraph(100) %>
			</p>
		</div>
	</div>
	<div class="divider"></div>
	<br>
	<div class="row">
		<%= link_to_previous post %>
		<%= link_to_next post %>
	</div>
</div>
<%= render partial: 'footer' %>
