<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete Account?</h4>
    <p>Warning! Deleting account deactivates account, enabling it to be recovered within 7 days. After which it is permanently deleted</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Cancel", "#!", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
    <%= link_to "Ok, I understand", user_path(current_user), class: "modal-action modal-close waves-effect waves-green btn-flat", method: :delete  %>
  </div>
</div>

<div class="account-sidebar">
  <%= link_to account_users_path, id: "profile" do %>
    <% if current_page?(account_users_path) %>
      <div class="sidebar-items-active">
    <% else %>
      <div class="sidebar-items">
    <% end %>
      <i class="fa fa-user" aria-hidden="true"></i><span>&nbsp;&nbsp;My Profile</span>
    </div>
   <% end %>

  <%= link_to addresses_users_path(current_user) , id: "manage-address" do %>
    <% if current_page?(addresses_users_path(current_user)) %>
        <div class="sidebar-items-active">
      <% else %>
        <div class="sidebar-items">
    <% end %>
      <i class="fa fa-envelope" aria-hidden="true"></i><span>&nbsp;&nbsp;Manage Address</span>
    </div>
  <% end %>

  <%= link_to past_orders_path , class: "past-orders" do %>
    <% if current_page?(past_orders_path) %>
      <div class="sidebar-items-active">
    <% else %>
      <div class="sidebar-items">
    <% end %>
      <i class="fa fa-list" aria-hidden="true"></i><span>&nbsp;&nbsp;Past Orders</span>
    </div>
  <% end %>

  <%= link_to wishlist_index_path, id: "wishlist" do %> 
    <% if current_page?(wishlist_index_path) %>
      <div class="sidebar-items-active">
    <% else %>
      <div class="sidebar-items">
    <% end %>
      <i class="fa fa-heart" aria-hidden="true"></i><span>&nbsp;&nbsp;My Wishlist</span>
    </div>
  <% end %>

  <%= link_to "#modal1", class: "modal-trigger" do %>
    <div class="delete-user-bar">
      <i class="fa fa-trash" aria-hidden="true"></i><span>&nbsp;&nbsp;Delete Account</span>
    </div>
  <% end %>

</div>
