<div class="col l12">
  <div class="user-address">
    <div class="address-name">
      <span class="default-adress">Default address</span>
    </div>
    <div class="address-name">
      <%= @address.name %>
    </div>
    
    
    <div class="address-display-account">
      <%= @address.address %>, <%= @address.city %>
    </div>
    <div class="address-display-account">
      <%= @address.phone %>
    </div>
    <div class="address-display-account">
      <%= @address.state %>, <%= @address.country %>
    </div>
  </div>
</div>
