<%= render "header" %>
<div class="signin-box">
  <div class="container">
    <div class="row">
      <div class= "col s3">
          <%= render "account_side_bar" %>
      </div>
       <div class= "col s9">
        <div class="profile">
          <div class="result-header">
            MY PROFILE
          </div>
          <div class="profile-fields">
            <div class="row">
              <div class="col s2">
                First Name
              </div>
              <div class="col s4">
                <%= current_user.first_name %>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                Last Name
              </div>
              <div class="col s4">
                <%= current_user.last_name %>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                Email
              </div>
              <div class="col s4">
                <%= current_user.email %>
              </div>
            </div>
            <div class="row">
              <div class="col s4">
              <%= link_to edit_user_path(current_user) do %>   <i class="fa fa-pencil-square-o edit-icon my-icon" aria-hidden="true"></i> <% end %>
              <%= link_to user_path(current_user),  data: { confirm: 'Are you sure you want to delete your account?' },  method: :delete do %> <i class="fa fa-trash delete-icon my-icon" aria-hidden="true"></i> <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
