<%= render "header" %>
<div class="signin-box">
  <div class="container account-container">
    <div class="row">
      <div class= "col s3">
           <%= render "account_side_bar" %>
      </div>
       <div class= "col s9">
        <div class="profile">

          <div class="result-header">
            EDIT PROFILE
          </div>

          <%= form_for @user do |f| %>
            <div class="profile-fields">
              <div class="row">
                <div class="col s6">
                  <%= f.label :first_name, "First Name" %>
                   <%= f.text_field :first_name, required: "required", minlenght: 2, class: "" %>
                </div>
                <div class="col s6">
                  <%= f.label :last_name, "Last Name" %>
                   <%= f.text_field :last_name, required: "required", minlenght: 2, class: "" %>
                </div>
              </div>

              <div class="row">
                <div class="col s6">
                 <%= f.label :email, "Email" %>
                  <%= f.text_field :email, required: "required", minlenght: 2, class: "" %>
                </div>
              </div>
               <%= f.submit "Update", class: "btn waves-effect b-width" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
