<div class="forgot-box">
  <div class="row container forgot">
    <h3>Reset your password</h3>
    <% unless flash['error'].blank?  %>
        <span class="field-error left" id="email-error"> <%= flash['error'] %> </span>
    <% end %>
    <% unless flash['success'].blank?  %>
        <span class="field-success left" id="email-error"> <%= flash['success'] %> </span>
    <% end %>
    <div class = "col l12 m12 s12 forgot">
      <%= form_tag %>
        <div class="row entry-forgot">
          <div>
            <%= label_tag :email, "Email" %>
            <%= email_field_tag :email, "", required: "required" %>
          </div>
        </div>
        <div class="row submit-forgot">
          <%= submit_tag "submit", class: "btn waves-effect waves-light blue-forgot" %>
          or <%= link_to "Cancel", login_path %>
        </div>
    </div>
  </div>
</div>
<%= render "footer" %>

