<div class="forgot-box">
  <div class="row container forgot">
    <h3>Enter A New Password</h3>
    <span class="field-error left" id="email-error"><%= @msg %></span>
    <div class = "col l12 m12 s12 forgot">
      <%= form_tag %>
        <div class="row entry-forgot">
          <div>
            <%= label_tag :password, "New Password" %>
            <span class="field-error" id="password-error"></span>
            <%= password_field_tag :password, "", class: "pword", id: "reset_password"%>
          </div>
          <div class="forgot-password">
            <input type="checkbox" id="show-password" />
            <label for="show-password" title="show password">show password</label>
          </div>
        </div>
        <div class="row submit-forgot">
          <%= submit_tag "Change Password", class: "btn signup", id: "submit_reset", disabled: "disabled"%>
        </div>
    </div>
  </div>
</div>
<%= render "footer" %>

