<div class="order-forms-container">
  <h5>
    Fill in the delivery information
  </h5>
  <a  class="close-review" href="#"><i class="fa fa-times"></i></a>
  <%= form_tag({controller: "orders", action: "summary"}, method: "post") do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <div class="row">
    <div class="col l4">
      <%= label_tag :name, "Name", class: "bold black-text" %>
      <%= text_field_tag :name, "", class: "validate", required: :required,  pattern: ".{3,100}", title: "3 to 100 characters required" %>
    </div>
    <div class="col l4">
      <%= label_tag :email, "Email", class: "bold black-text" %>
      <%= email_field_tag :email, current_user.email, class: "validate", required: :required,  pattern: ".{5,150}", title: "Valid email, 5 - 150 characters" %>
    </div>
    <div class="col l4">
      <%= label_tag :phone, "Phone", class: "bold black-text" %>
      <%= text_field_tag :phone, "", class: "validate", required: :required, pattern: ".{3,15}", title: "3 - 15 characters" %>
    </div>
  </div>

  <div class="row">
    <div class="col l6">
      <%= label_tag :address, "Address", class: "bold black-text" %>
      <%= text_field_tag :address, "", class: "validate", required: :required,  pattern: ".{5,}", title: "5 characters required" %>
    </div>
    <div class="col l6">
      <%= label_tag :landmark, "Landmark", class: "bold black-text" %>
      <%= text_field_tag :landmark %>
    </div>
  </div>

  <div class="row">
    <div class="col l4">
      <%= label_tag :city, "City", class: "bold black-text" %>
      <%= text_field_tag :city, "", class: "validate", required: :required,  pattern: ".{2,100}", title: "2 - 100 characters" %>
    </div>
    <div class="col l4">
      <%= label_tag :state, "State", class: "bold black-text" %>
      <%= text_field_tag :state, "", class: "validate", required: :required,  pattern: ".{2,100}", title: "2 - 100 characters" %>
    </div>
    <div class="col l4">
      <%= label_tag :country, "Country", class: "bold black-text" %>
      <%= text_field_tag :country, "", class: "validate", required: :required,  pattern: ".{2,100}", title: "2 - 100 characters" %>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <%= submit_tag "Save and Continue", class: "btn btn-flat full-submit" %>
    </div>
  </div>
  <% end %>
</div>
</div>
