<% order.order_items.each do |item| %>
<div class="col l4">
  <div class="row order-image"><%= image_tag item.product.product_image_links.first.link_name, size: "140" %></div>
  <div class="row order-description"><%= item.product.name%></div>
  <div class="row order-description">


  <%= link_to "Review", review_path(item_id: item.product.id), { class: "btn modal-trigger", remote: true} %>

  <div id="review" class="modal">
    <div class="modal-content">
      <h6>Write A Review</h6>
      <a  class="close-review" href="#"><i class="fa fa-times"></i></a>
    </div>
    <div>
    <div class="row">
      <div class="col l6">
        <div class="review-image-div">
          <%= image_tag "", class: "image0", size: "140" %>
        </div>
      </div>
      <div class="col l6">
        <%= form_tag({controller: "products", action: "rate"}, method: "post", remote: true) do %>
          <%= text_field_tag :title, "", required: "required", placeholder: "Enter Review Title", class: "black-text browser-default", id: "my-input-field" %>
          <%= hidden_field_tag :product_id, "", required: "required", class: "black-text browser-default product-id" %>
          <%= text_area_tag :comment, "", required: "required", placeholder: "Enter Comment", class: "black-text browser-default", id: "my-input-field2" %>
          <%= text_field_tag :rating, "", required: "required", class: "black-text browser-default", id: "my-rating" %>
          <%= submit_tag "Submit", class: "btn waves-effect waves-green btn-flat" %>
        <% end %>
      </div>
    </div>

    </div>
  </div>
  </div>
</div>


<% end %>
