<% order.order_items.each do |item| %>
<div class="col l4">
  <div class="row order-image"><%= image_tag item.product.product_image_links.first.link_name, size: "140" %></div>
  <div class="row order-description"><%= item.product.name%></div>
  <div class="row">


    <%= link_to "Review", review_path(item_id: item.product.id), { class: "btn review-button modal-trigger btn-flat", remote: true} %>
    <div id="review" class="modal">
      <div class="modal-content">
        <h6>Write A Review</h6>
        <a  class="close-review" href="#"><i class="fa fa-times"></i></a>
      </div>
      <div>
        <div class="row">
          <div class="col l3">
            <div class="row review-image-div">
              <%= image_tag "", class: "image0", size: "140" %>
            </div>
            <ul>
              <li id="product-name" class="product-to-rate"> </li>
            </ul>
          </div>
          <div class="col l9">
            <%= form_tag({controller: "products", action: "rate"}, method: "post", remote: true) do %>
            <div class="row">
              <div class="input-field col s8">
                <%= hidden_field_tag :product_id, "", class: "product-id" %>
                <%= text_field_tag :title, "", required: "required", placeholder: "Give Your Review a Title", id: "title-field" %>
                <%= label_tag "title-field", "Title" %>
              </div>
              <div class="col s4">
                <span class="rating-label">Rating</span>

                <div class="rating">
                  <span class="star" id="star5">☆</span>
                  <span class="star" id="star4">☆</span>
                  <span class="star" id="star3">☆</span>
                  <span class="star" id="star2">☆</span>
                  <span class="star" id="star1">☆</span>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= text_area_tag :comment, "", required: "required", placeholder: "Enter Body of Review", class: "materialize-textarea my-textarea", id: "comment-field" %>
                <%= label_tag "comment-field", "Comment" %>
              </div>
              <%= submit_tag "Submit", class: "btn btn-flat review-submit" %>
            </div>
            <%= hidden_field_tag :rating, "", required: "required", id: "my-rating" %>

            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<% end %>

