<div align="center">
  <h5> Select an existing delivery address </h5>
</div>
<div class="container row all-addresses">
  <% @user_addresses.each do |address| %>
  <%= form_tag({controller: "orders", action: "summary"}, method: "post") do %>
  <div class="col l4">
    <div class="user-address">
      <div class="address-name">
        <%= address.name %>
        <div class="manage-address">
          <%= link_to address_path(address.id), method: :delete, class: "delete-address-icon", data: { confirm: "Are you sure?" } do %>
          <i class="material-icons">delete</i>
          <% end %>
          <%= link_to edit_address_path(address.id), remote: true, class: "edit-address-icon" do %>
          <i class="material-icons" id="updateAddress">mode_edit</i>
          <% end %>
        </div>
      </div>

      <div class="address-display">
        <%= address.address %>, <%= address.city %><br> near <%= address.landmark %>
      </div>

      <div class="address-display">
          <%= address.phone %>
      </div>

      <div class="address-display">
        <%= address.state %>, <%= address.country %>
      </div>
      <div class="address-display">
        <%= hidden_field_tag :address_id, address.id %>
        <%= submit_tag "Use this address", class: "btn btn-flat full-submit" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div id="addressModal" class="modal">
      <div class="modal-content">
        <div id="addressForm">
        </div>
      </div>
</div>

<div class="container">
 <div align="center">
  <h5> OR </h5>
 </div>
