<% @past_orders.each do |order| %>
  <div class="orders row">
    <div class="order-placeholders col l2"> &nbsp; </div>
    <div class="row my-orders col l8">

      <div class="order-group">
        <div class="order-body">
          <div class="col l2"><%= order.order_number %></div>
          <div class="col l2">
            <%= Date.strptime((order.created_at).to_s) %>
          </div>
          <div class="col l2"><%= order.total_amount %> &nbsp;</div>
          <div class="col l2">Unknown</div>
          <div class="col l2">&nbsp;</div>
          <div id="expand-order" class="col l2 expand-order">
            <%= link_to "details", "#" %>&nbsp;&nbsp;&nbsp;<span class"plus-minus"></span>
          </div>
        </div>

         <div class="order-details">
           <%= render partial: "order_details", locals: { order: order }%>
        </div>
      </div>
    </div>
    <div class="order-placeholders col l2"> &nbsp; </div>
  </div>
<% end %>
