<%= render partial: 'header' %>
<div class="shift-down">
  <div class= "row-break"></div>

  <div class="container-large">
    <div class="row nav-like-height valign-wrapper">
      <span>&nbsp;&nbsp;</span>
      <h5 class="left">All Products</h5>
      <h5 class="col l3">&nbsp;</h5>
      <div class="right">
        <%= link_to "Home", root_path %>
        <span>&nbsp;»&nbsp;</span>
        <%= link_to "All", categories_path %>
        <span>&nbsp;&nbsp;</span>
        <span class="bold">(<%= @result_length %> results)</span>
        <span>&nbsp;&nbsp;</span>
      </div>
    </div>
    <%= render partial: 'paginate_products' %>
  </div>
</div>
<%= render partial: 'prefooter' %>
<%= render partial: 'footer' %>
