<%= render partial: 'header' %>
<div class="shift-down">
  <div class= "row-break"></div>

  <div class="container-large">
    <div class="row nav-like-height valign-wrapper">
      <span>&nbsp;&nbsp;</span>
      <h5 class="left"><%= @category.name %></h5>
      <h5 class="col l3">&nbsp;</h5>
      <div class="right">
        <%= link_to "Home", root_path %>
        <span>&nbsp;»&nbsp;</span>
        <%= link_to @category.name, category_path %>
        <span>&nbsp;&nbsp;</span>
        <span class="bold">(<%= @result_length %> results)</span>
        <span>&nbsp;&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="digg-pagination right"><%= will_paginate @products %></div>
    </div>
    <div class= "row category-products">
      <%= render partial: "landing/product", collection: @products %>
    </div>
    <div class="row">
      <div class="digg-pagination right"><%= will_paginate @products %></div>
    </div>
  </div>
</div>
<div class= "pre-footer valign-wrapper">
  <div class="container-full">
    <div class="section">
  <div class="row">
    <div class="col l4 center">
      <i class="large material-icons">thumb_up</i>
      <h5>Customer is King</h5>
      <p>Years of committed service. We believe in being the best!</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">stars</i>
      <h5>Five-Star Service</h5>
      <p>We promise, We deliver.</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">flash_on</i>
      <h5>Speedy Delivery</h5>
      <p>We don't just deliver. We deliver ASAP</p>
    </div>
    </div>
  </div>
  </div>
</div>
<%= render partial: 'footer' %>
