<div class="border-wrap product-box">
	<div class="row">
		<%= image_tag cartproduct[:image], class: 'col l2'%>
		<div class="col l3">
			<span><%= cartproduct[:text] %></span>
			<span><%= cartproduct[:category] %></span>
		</div>
		<span class="col l2"><%= cartproduct[:price] %></span>
		<div class="col l2 center">
			<span>Quantity: </span>
      <%= i.hidden_field :product_id, value: 1 %>
			<%= i.text_field :quantity, class: "center", value: 1 %>
			<a href="#">UPDATE</a>
		</div>
		<span class="col l2"><%= cartproduct[:price] %></span>
		<a href="#" class="grey-text"><i class="small material-icons col l1">delete</i></a>
	</div>
</div><br />
