<div class="filter-div">
  <div class="row">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="col s1">
    <span class="filter-header">FILTER BY</span>
    </div>
    <div class="col s3">
    <label class="bold black-text">Price: </label>
    <%= f.number_field :with_low_price, class: "filterrific-periodically-observed text-field", placeholder: "₦", id: "lower-value", min: 0 %> -
    <%= f.number_field :with_high_price, class: "filterrific-periodically-observed text-field", placeholder: "₦", id: "upper-value" %>
    </div>
    <div class="col s2">
      <%= f.select(:with_subcategory, options_for_select(filter_categories(@subcategories)), {include_blank: "Subcatgeory"}, { :class => 'browser-default' } )%>
    </div>

    <div class="col s1">
      <%= f.select(:with_category, options_for_select(filter_brands), {include_blank: "Category"}, { :class => 'browser-default' })%>
    </div>

    <div class="col s2">
      <%= f.select(:with_size, options_for_select(filter_sizes), {include_blank: "Size"}, { :class => 'browser-default' }) %>
    </div>
    <div class="col s2">
      <%= link_to "Reset Filters", reset_filterrific_url, class: "waves-effect waves-light btn filter" %>
    </div>
    <div class="col s1">
      <%= render_filterrific_spinner %>
    </div>
    <% end %>
  </div>
</div>
