<div class="footer valign-wrapper">
	<div class="footer-container">
		<div class="row">
			<div class="white-text col s12 m4 l4">
				<span>Quick Links</span><br /><br />
				<span class="white-text small-text"><%= link_to "Fashion", "/categories/1", class: "white-text" %></span><br />
				<span class="white-text small-text"><%= link_to "Electronics", "/categories/2", class: "white-text" %></span><br />
				<span class="white-text small-text"><%= link_to "Home and Kitchen", "/categories/3", class: "white-text" %></span><br />
				<span class="white-text small-text"><%= link_to "Baby, Kids and Toys", "/categories/4", class: "white-text" %></span><br />
				<span class="white-text small-text"><%= link_to "Machinery", "/categories/5", class: "white-text" %></span><br />
				<span class="white-text small-text"><%= link_to "Books", "/categories/6", class: "white-text" %></span><br/>
				<span class="white-text small-text"><%= link_to "Sports and Fitness", "/categories/7", class: "white-text" %></span><br />
			</div>
			
			<div class="white-text col s12 m4 l4">
				<span>Contact Us</span><br /><br />
				<span class="white-text small-text"><i class="tiny material-icons">phone</i>&nbsp;08020000000</span><br />
				<span class="white-text small-text"><i class="tiny material-icons">email</i>&nbsp;support@shopify.com</span><br />
			</div>
			
			<div class="white-text col s12 m4 l4">
				<span>Payment Methods</span><br /><br />
				<%= image_tag "http://imageshack.com/a/img633/2210/75XkCM.png" %>
			</div>
		</div>
	</div>
</div>