<div class="top-contain">
	<div id="top-fixed">
		<div class="top-bar valign-wrapper">
			<div class="container-trim">
				<div class="left">
					<span class="white-text small-text">FAST &amp; FREE SHIPPING ON ALL ORDERS - CALL US : 08020000000</span>
				</div>
				<div class="right">
					<%= link_to "About us", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Blog", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Contact Us", "/contact", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "FAQ", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "My Wishlist", "#", class: 'white-text small-text' %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<%= link_to "Currency - NGN", "#", class: 'white-text small-text' %>
					<% if logged_in %>
					<span class="white-text small-text">&nbsp;|&nbsp;</span>
					<span class="black-text small-text">Welcome, <%= current_user.first_name %></span>
					<% end %>
				</div>
		
			</div>
		</div>
		<nav class="white valign-wrapper">
			<div class="container-trim">
				<div class="left">
					<a class="brand-logo black-text" href="<%= root_path %>">
					<div class="left">
						<span>Shopify</span>
					</div>
				</a>
				</div>
				<div class="right">
					<div class="hide-on-med-and-down">
						<span class="category-span">
							<a href="#" class="black-text category-link">CATEGORIES</a>
							<ul id="category-dropdown" class="nav-link-items">
								<li><a href="#" class="black-text">Fashion</a></li>
								<li><a href="#" class="black-text">Electronics</a></li>
								<li><a href="#" class="black-text">Home and Kitchen</a></li>
								<li><a href="#" class="black-text">Baby, Kids and Toys</a></li>
							</ul>
						</span>
						<span class="white-text small-text">&nbsp;|&nbsp;</span>
						<span class="cart-span">
							<a href="#" class="black-text cart-link">CART</a>
							<%= render "cart_dropdown" %>
						</span>						
						<span class="white-text small-text">&nbsp;|&nbsp;</span>
						<%= auth_link %>
					</div>
				</div>
		
			</div>
		</nav>
	</div>
</div>
