<div class="top-contain">
  <div id="top-fixed">
    <div class="top-bar valign-wrapper">
      <div class="container-trim">
        <div class="left">
          <span class="white-text small-text">PRODUCT UPDATES ARE AVAILABLE TO USERS</span>
        </div>
        <div class="right">
          <%= link_to "About us", about_path, class: 'white-text small-text' %>
          <span class="white-text small-text">&nbsp;|&nbsp;</span>
          <%= link_to "Blog", blog_path, class: 'white-text small-text' %>
          <span class="white-text small-text">&nbsp;|&nbsp;</span>
          <%= link_to "Contact Us", "/contact", class: 'white-text small-text' %>
          <span class="white-text small-text">&nbsp;|&nbsp;</span>
          <%= link_to "FAQ", faq_path, class: 'white-text small-text' %>
          <span class="white-text small-text">&nbsp;|&nbsp;</span>
          <span  class="white-text small-text">Currency - NGN</span>
            <span class="white-text small-text">&nbsp;|&nbsp;</span>
            <span class="small-text">
              <%= auth_link %>
            </span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
