<%= form_for( @product, html: { multipart: true, class: "col s8 offset-s2", id: "shop-edit-form" } ) do |f| %>
<div class="modal-content">
  <% if flash[:errors] %>
  <script>
var msg = $("<ol><%= shop_form_errors(flash[:errors]).html_safe %></ol>");
Materialize.toast(msg)
</script>
<% end %>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :name %><br>
    <%= f.text_field :name, { required: true } %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :description %><br>
    <%= f.text_field :description, { required: true }  %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, { required: true }  %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, { required: true } %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :size %><br>
    <%= f.text_field :size, { required: true } %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <%= f.label :price %><br>
    <%= f.text_field :price, { required: true } %>
  </div>
</div>
<div class="row">
  <div class="input-field col s10 offset-s1">
    <div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 center-align">
    <button id="submit" type="submit" name="submit" class="waves-effect waves-light btn-flat bg-accent">Update</button>
  </div>
</div>
</div>
<% end %>
