<div class="related-products">
  <h5>Related Products</h5>
  <div class="row">
    <div class= "col s6 m4 l4">
      <a href="<%= product_path(1) %>">
        <div class="card card-no-shadow">
          <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
        </div>
        <div class="card-desc">
          <div>Men's Shirt</div>
          <div class="price">N8,400.00</div>
        </div>

      </a>
    </div>
    <div class= "col s6 m4 l4">
      <a href="<%= product_path(1) %>">
        <div class="card card-no-shadow">
          <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
        </div>
        <div class="card-desc">
          <div>Perfome</div>
          <div class="price">N5,200.00</div>
        </div>
      </a>
    </div>
    <div class= "col s6 m4 l4">
      <a href="<%= product_path(1) %>">
        <div class="card card-no-shadow">
          <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
        </div>
        <div class="card-desc">
          <div>Shoe</div>
          <div class="price">N9,000.00</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class= "col s6 m4 l4">
    <a href="<%= product_path(1) %>">
      <div class="card card-no-shadow">
        <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
      </div>
      <div class="card-desc">
        <div>Men's Shirt</div>
        <div class="price">N8,400.00</div>
      </div>

    </a>
  </div>
  <div class= "col s6 m4 l4">
    <a href="<%= product_path(1) %>">
      <div class="card card-no-shadow">
        <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
      </div>
      <div class="card-desc">
        <div>Perfome</div>
        <div class="price">N5,200.00</div>
      </div>
    </a>
  </div>
  <div class= "col s6 m4 l4">
    <a href="<%= product_path(1) %>">
      <div class="card card-no-shadow">
        <div class="card-image"><%= image_tag "shoe-large-blue.jpg" %></div>
      </div>
      <div class="card-desc">
        <div>Shoe</div>
        <div class="price">N9,000.00</div>
      </div>
    </a>
  </div>
</div>
