<%= render "header" %>
<div class="container-large product-description-body">
  <div class="row">
    <div class="col m6 product-view-image">
      <div class="row">
        <div class="col s2">
        </div>

        <div class="col s10">
          <div class="slider">
            <ul class="slides">
              <% @product.product_image_links.each do |link| %>
                <li class="slide-item">
                  <%= image_tag link.link_name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="shares">
        <div class="row">
          <div class="col s4">Share</div>
          <div class="col s2">

            <a href="#" title="Facebook"><i class="fa fa-facebook my-icons product-page"></i></a>
          </div>
          <div class="col s2">
            <a href="#" title="Twitter"><i class="fa fa-twitter my-icons product-page"></i></a>
          </div>
          <div class="col s2">
            <a href="#" title="Instagram"><i class="fa fa-instagram my-icons product-page"></i></a>
          </div>
          <div class="col s2">
            <a href="#" title="Pinterest"><i class="fa fa-pinterest-p my-icons product-page"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col m6">
      <h5 class="product-name"><%= @product.name %></h5>
      <div class="price">
        &#x20A6;<%= @product.price %>
      </div>

      <div class="rating-counts">
        <div class="rating left">
          <span class="star-character">&#9734;</span>
          <span class="star-character">&#9734;</span>
          <span class="star-character">&#9734;</span>
          <span class="star-character">&#9734;</span>
          <span class="star-character">&#9734;</span>
        </div>
        <div class="counts left">
          <span>4 reviews</span>

        </div>
      </div>
      <input  type=hidden>
      <%= form_tag({ controller: "carts", action: "add_to" }, method: "post", id: "cart_form") do%>
          <%= hidden_field_tag(:image, @product.product_image_links.first.link_name)  %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <%= hidden_field_tag(:price, @product.price) %>
          <%= hidden_field_tag(:name, @product.name) %>
          <%= hidden_field_tag(:brand, @product.brand) %>
          <%= hidden_field_tag(:code, @product.code) %>
        <div class="buy-now">
          <div class="row">
            <div class="col s1 bold">Qty: </div>
            <div class="col s2"><%= number_field_tag :quantity, 1, in: 1..@product.quantity, step: 1 %>
            </div>
            <div class="col s4"><%= submit_tag "ADD TO CART", class: "waves-effect btn products-input", id: "submit"%></div>
            <div class="col s5">
              <a href="#" title="" class="wish-list-link">
                <i class="fa fa-heart-o wishlist-icon"></i> Add to Wish List
              </a>
            </div>
          </div>
        </div>

        <%= render "product_features" %>

      <% end %>
      
    </div>

  </div>

  <div class="row">
    <div class="col m6 s12">
      <div class="row">

        <%= render "related_products" %>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="row" id="description-tabs">
        <div class="col s12">
          <ul class="tabs product-features">
            <li class="tab"><a href="#description-tab" class="black-text active">Description</a></li>
            <li class="tab"><a href="#specification-tab" class="black-text active">Specifications</a></li>
            <li class="tab"><a href="#review-tab" class="black-text">Reviews</a></li>
          </ul>
        </div>
        <div id="description-tab" class="col s12">

          <%= @product.description %>

        </div>
        <div id="specification-tab" class="col s12">

          <%= render "specification_tab_contents" %>

        </div>
        <div id="review-tab" class="col s12">

          <%= render "reviews_tab_contents" %>

        </div>
      </div>
    </div>
  </div>

</div>

<%= render "footer" %>