<% meta og: { image: @product.product_image_links.first.link_name } %>
<% meta og: { description: @product.description } %>
<%= render "header" %>
<div id="fb-root"></div>
<div class="container-large product-description-body">
  <div class="row">
    <div class="col m6 product-view-image">
      <div class="row">
        <div class="col s2">
        </div>

        <div class="col s10">
          <div class="slider">
            <ul class="slides">
              <% @product.product_image_links.each do |link| %>
              <li class="slide-item">
                <%= image_tag link.link_name, id: "productImage", data: {zoom_image: link.link_name}%>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col s2">
            <div class="tweet">
              <a id="twitter-share" target="blank">
                <button class="btn waves-effect twitter-button social-button"><i class="fa fa-twitter"></i>Tweet</button>
              </a>
            </div>
          </div>
          <div class="col s2">
            <div>
              <a href="#"  id="facebook-share" class="btn facebook-button social-button" target="blank"><span class="facebook-f">&nbsp;f&nbsp;</span> <span class="facebook-share">Share</span></a>
            </div>
          </div>
          <div class="col s3">
          <a  href="#" id="google-share" target="blank"><button class="btn waves-effect google-button social-button"><i class="fa fa-google-plus google-logo"></i>Share</button></a>
          </div>
          <div class="col s3">


          </div>
        </div>
    </div>

    <div class="col m6">
      <h5 class="product-name"><%= @product.name %></h5>
      <div class="price">
        &#x20A6;<%= @product.price %>
      </div>
      <div class="stock"><%= @product.stock %></div>

      <div class="rating-counts">
        <div class="left">
          <a href="#!" class="secondary-content">
            <% get_rating(@product).times  do %>
            <span class="filled-in-star star-size">&#9734;</span>
            <% end %>
            <% (5 - get_rating(@product)).times do %>
            <span class="star-size">&#9734;</span>
            <% end %>
          </a>
        </div>
      <div class="counts left"><%= @product.reviews.count %> reviews</div>

      </div>
      <input  type=hidden>
      <%= form_tag(cart_path, method: "post", id: "cart_form-", remote: true) do %>
      <%= hidden_field_tag(:image, @product.product_image_links.first.link_name)  %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= hidden_field_tag(:price, @product.price) %>
      <%= hidden_field_tag(:name, @product.name) %>
      <%= hidden_field_tag(:brand, @product.brand) %>
      <%= hidden_field_tag(:code, @product.code) %>
      <div class="buy-now">
        <div class="row">
          <div class="col s1 bold">Qty: </div>
          <div class="col s2">
            <%= number_field_tag :quantity, 1, in: 1..@product.quantity, step: 1 %>
          </div>
          <div class="col s4"><%= submit_tag "ADD TO CART", class: "waves-effect btn products-input", id: "submit"%></div>
         <%= wishlist_add_link %>
        </div>
      </div>

      <%= render "product_features" %>

      <% end %>

    </div>

  </div>

  <div class="row">
    <div class="col m6 s12">
      <div class="row">

        <%= render "related_products" %>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="row" id="description-tabs">
        <div class="col s12">
          <ul class="tabs product-features">
            <li class="tab"><a href="#description-tab" class="black-text active">Description</a></li>
            <li class="tab"><a href="#specification-tab" class="black-text active">Specifications</a></li>
            <li class="tab"><a href="#review-tab" class="black-text">Reviews</a></li>
          </ul>
        </div>
        <div id="description-tab" class="col s12">

          <%= @product.description %>

        </div>
        <div id="specification-tab" class="col s12">

          <%= render "specification_tab_contents" %>

        </div>
        <div id="review-tab" class="col s12">

          <%= render "reviews_tab_contents" %>

        </div>
      </div>
    </div>
  </div>

</div>

<%= render "footer" %>
